.chip-container{
    background-color: var(--secondary_color);
    padding: 0.5rem;
    border-radius: var(--app_border_radius);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: fit-content;
}

.chip-container img{
    height: 1rem;
    cursor: pointer;
}