.auth-container{
    /* background-color: var(--secondary_color); */
    height: 100vh;  
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.brand-info{
    display: flex;
    flex-direction: column;
    padding: 35% 10%;
}

.brand-info .heading{
    display: flex;
    gap: 1rem;
    color: var(--primary_color);
}

.brand-info img{
    height: 100%;
}

.brand-info .content{
    margin-top: 1rem;
    line-height: 1.8rem;
}

.form-container{
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-self: center;
}

@media screen and (max-width: 950px) {
    .auth-container{
        grid-template-columns: 1fr;
        height: fit-content;
    }

    .brand-info{
        padding: 2rem 3rem;
    }

    .brand-info h1{
        font-size: 2rem;
    }
    
    .brand-info .content{
        margin-top: 3rem;
    }

    #paw{
       display: none;
    }

    .form-container{
        display: block;
    }
}