.auth-container{
    height: 100vh;  
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2.5rem;
}

.brand-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brand-info .heading{
    display: flex;
    gap: 1rem;
    color: var(--primary_color);
}

.brand-info img{
    height: 100%;
}

.brand-info .content{
    margin-top: 1rem;
    line-height: 1.8rem;
}

.form-container{
    display: flex;
    align-items: center;
    justify-self: center;
}

@media screen and (max-width: 950px) {
    .auth-container{
        grid-template-columns: 1fr;
        padding: 1rem;
    }

    .form-container{
        display: unset;
    }
}