
.my-message {
    text-align: right;
    margin: 0.5rem;
}

.my-message span {
    padding: 0.5rem;
    border-radius: var(--app_border_radius);
    background-color: var(--primary_color);
    color: white;
    display: inline-block;
    max-width: 70%;
    text-align: left;
}

.other-message {
    text-align: left;
    margin: 0.5rem;
}


.other-message span {
    padding: 0.5rem;
    display: inline-block;
    background-color: var(--secondary_color);
    max-width: 70%;
    color: var(--text1_color);
    border-radius: var(--app_border_radius);
}

.other-message .name{
    color: var(--primary_color);
    font-size: small;
    text-align: left;
}