.content-container {
    background-color: white;
    height: 100vh;
}

.content-container .header {
    height: 5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-bottom: 1px solid var(--app_border_color);
    line-height: 1.4rem;
}

.close-chat{
    position: absolute;
    top: 1.5rem;
    right: 2rem;
}

.content-container .header .user {
    flex-direction: column;
}

.content-container .header .user .name {
    color: var(--text1_color);
}

.content-container .header .user .status {
    color: var(--primary_color);
    font-size: 0.8rem;
}

.content-container .profile-pic {
    display: grid; 
    height: 3.5rem;
    width: 3.5rem;
    background-color: var(--secondary_color);
    border-radius: 50%;
    overflow: hidden;
    grid-gap: 0.1rem;
}

.content-container  .profile-pic img{
    /* border: 3px solid var(--primary_color); */
    width: 100%; /* Makes each image fill its container */
    height: 100%;
    object-fit: cover;
}

.content-container .footer {
    height: 4rem;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content-container .footer .input {
    width: calc(100% - 4rem);
}

.content-container .message-container {
    width: 100%;
    height: calc(100vh - 9rem);
    overflow-y: scroll;
    background-image: url('./../../../assets/opacity10.png');
    background-size: cover;
}

