.sidebar-container{
    border-right: 1px solid var(--app_border_color);
    height: 100%;
    padding: 0 1rem;
}

.sidebar-container .header{
    height: 5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sidebar-container .header .brand-logo img{
    
}

.sidebar-container .header .brand-name{
    color: var(--primary_color);
    font-size:1.7rem;
}

.sidebar-options{
    display: flex;
    justify-content: space-between;
}

.sidebar-options .input{
    width: calc(100% - 3.5rem);
}