.button-container{
    background-color: var(--primary_color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0.5rem;
    height: 2.5rem;
    border-radius: var(--app_border_radius);
    color: white;
    cursor: pointer;
}

.button-container:hover{
    opacity: 0.8;
}

.disabled-button{
    opacity: 0.5;
}

.disabled-button:hover{
    opacity: 0.5;
}

button{
    background-color: transparent;
    outline: none;
    border: none;
}