.button-container {
    background-color: var(--primary_color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0.8rem 1rem;
    border-radius: var(--app_border_radius);
    color: white;
    cursor: pointer;
}

.button-container:hover {
    opacity: 0.8;
}

.disabled-button {
    opacity: 0.5;
}

.disabled-button:hover {
    opacity: 0.5;
}

button {
    background-color: transparent;
    outline: none;
    border: none;
}

.loader {
    border: 0.20rem solid var(--text2_color);
    border-top: 0.20rem solid var(--secondary_color);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}