.signup-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    /* border: 1px solid var(--app_border_color); */
    box-shadow: 0px 0px 20px var(--app_border_color);
    border-radius: var(--app_border_radius);
    padding: 2rem 1rem;
    /* height: 50%; */
}
.signup-container h1{
    color: var(--primary_color);
}
.signup-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
}

.signup-container .input{
    width: 20rem;
    text-align: center;
}

.signup-container .signup{
    font-size: 0.8rem;
}

@media screen and (max-width: 950px) {
    .signup-container{
        height: unset;
        padding: 5rem 2rem;
    }
}