.home-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    /* background-color: red; */
    width: 30%;
    height: 100%;
}

.content {
    width: 70%;
    height: 100%;
    /* background-color: yellow; */
}

@media screen and (max-width: 950px){
    *{
        font-size: 12px;
    }
}

.sidebar-container{
    border-right: 1px solid var(--app_border_color);
    height: 100%;
    padding: 0 1rem;
}

.sidebar-container .header{
    height: 5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sidebar-container .header .brand-logo img{
    
}

.sidebar-container .header .brand-name{
    color: var(--primary_color);
    font-size:1.7rem;
}

.sidebar-options{
    display: flex;
    justify-content: space-between;
}

.sidebar-options .input{
    width: calc(100% - 3.5rem);
}


@media screen and (max-width: 700px) {

    *{
        font-size: 14px;
    }

    .home-container {
        position: relative;
    }

    .sidebar {
        width: 100%;
    }

    .content,
    .content-close {
        position: absolute;
        width: 100%;
        top: 0rem;
        left: -100%;
        transition: all 0.5s ease
    }

    .content-open {
        left: 0;
    }
}